.sidebar {
  width: 0;
  opacity: 0;
  height: 100vh;
  position: fixed;
  padding: 5rem 0;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: var(--white);
  @include transform(translateX(-100%));
  @include transition(all 0.35s ease-out);
}
.sidebar__inner {
  overflow-y: auto;
  height: calc(100vh - 10rem);
  /*justify-content: center;*/
  @include flex();
  @include flex-middle();
  @include flex-column();
  @include transition(all 0.35s ease-out);
  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    display: none;
  }

}
.sidebar-right .sidebar {
  @include transform(translateX(100%));
  left: auto;
  right: 0;
}
.sidebar.active {
  width: 100%;
  opacity: 1;
  @include transform(translateX(0));
}
.sidebar__title {
  margin-bottom: 1.5rem;
}
.sidebar__copyright {
  color: var(--gray);
  font-size: 14px;
  text-align: center;
}
/*
.archive {
  margin-bottom: 2rem;
}
.archive__item {
  list-style: circle;
}
.archive__link {
  color: var(--dark);
  margin-right: 1rem;
  line-height: 2.5rem;
}
.archive__time {
  font-size: 0.9rem;
  color: var(--gray);
}
*/
.icon__list {
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.icon__link svg {
  margin: 0 5px;
  width: 18px;
  height: 18px;
}
.icon__fill {
  fill: var(--gray);
}
.icon__stroke {
  stroke: var(--gray);
}
.icon__list a:hover .icon__fill {
  fill: var(--dark);
}
.icon__list a:hover .icon__stroke {
  stroke: var(--dark);
}

