<div class="book-summary">
  <nav role="navigation">
    <ul class="summary">
      {% if page.book.index.link == page.link %}
      <li class="chapter active">
      {% else %}
      <li class="chapter">
      {% endif %}
        <a href="/{{ page.book.index.link }}" class="custom-link">{{ page.book.title }}</a>
      </li>
      <li class="divider"></li>
      {% for part in page.book.parts %}
        {% if part.link == page.link %}
        <li class="chapter active">
        {% else %}
        <li class="chapter">
        {% endif %}
          {% if part.link %}
          <a href="/{{ part.link }}">{{ part.title }}</a>
          {% else %}
          <span>{{ part.title }}</span>
          {% endif %}

          {% if part.chapters.size > 0 %}
          <ul class="articles">
            {% for chapter in part.chapters %}
              {% if chapter.link == page.link %}
              <li class="chapter active">
              {% else %}
              <li class="chapter">
              {% endif %}
                <a href="/{{ chapter.link }}">{{ chapter.title }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
