{% if site.production %}
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?e8da5568c3367f6c719a70ae68105783";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50115155-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

      gtag('config', 'UA-50115155-1');
</script>
<!-- Start -->
<script>var lyra=window.lyra||[];lyra.push(['lyra_Id', '5bfb94d86d8f8']);</script>
<script async src='https://thelyra.pro/a/analytics.js'></script>
<!-- End -->
{% endif %}
