<link rel="stylesheet" href="{{ "/assets/main.css" | asset_version }}" />
<script src="{{ "/assets/js/main.js" | asset_version }}" defer></script>
{% if page.code %}
<link rel="stylesheet" href="{{ "/assets/css/tomorrow.css" | relative_url }}" />
<script src="{{ "/assets/js/highlight.js" | relative_url }}"></script>
{% endif %}
{% if page.math%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endif %}
{% if page.mermaid %}
<script src="https://unpkg.com/mermaid@7.1.0/dist/mermaid.min.js" defer></script>
{% endif %}
