{% if site.data.comments[page.slug] %}
  <div class="comment__list">
    {% assign comments = site.data.comments[page.slug] %}
    {% for comment in comments %}
    <div class="comment">
      <div class="comment__meta">
        <div class="comment__avatar"><img src="https://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=50" alt=""></div>
        <span class="comment__author">{{ comment[1].name }}</span>
        <span class="comment__date">{{ comment[1].date | date_to_string }}</span>
      </div>
      <div class="comment__content">
        {{ comment[1].message | markdownify }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
