<div class="comment">
  <div class="comment-main clearfix">
    <div class="comment-left">
      <div class="comment__avatar"><img src="https://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=50"></div>
    </div>
    <div class="comment-right">
      <div class="comment__meta">
        <span class="comment__author">{{ name }}</span>
        <span class="comment__date">{{ date | date: "%Y-%m-%d %H:%M"}}</span>
      </div>
      <div class="comment__content">
        {{ message }}
      </div>
    </div>
  </div>
</div>
