<main class="slide" id="sectionContainer">
  {% for book in page.books %}
    <div class="slide__section">
      {% if book.odd %}
        <div class="slide__img">
          <a href="/{{ book.slug }}/" class="slide__link"></a>
          <div class="slide__img_placehold"></div>
          <img src="/assets/images/{{ book.slug }}.jpg" class="slide__img_entity">
        </div>
      {% endif %}
      {% if book.odd %}
        <div class="slide__text slide__text_right">
      {% else %}
        <div class="slide__text slide__text_left">
      {% endif %}
        <a href="/{{ book.slug }}/" class="slide__link"></a>
        <div class="slide__title">
          <div class="slide__title_inner">
            <h1 class="slide__title_text">{{ book.title }}</h1>
          </div>
         </div>
        <div class="slide__time">
          <div class="slide__time_inner">
            <p class="slide__time_text">{{ book.date }}</p>
          </div>
        </div>
      </div>
      {% unless book.odd %}
        <div class="slide__img">
          <a href="/{{ book.slug }}/" class="slide__link"></a>
          <div class="slide__img_placehold"></div>
          <img src="/assets/images/{{ book.slug }}.jpg">
        </div>
      {% endunless %}
    </div>
  {% endfor %}
</main>

<ul class="slide__controls">
  <div class="slide__control__icon slide__control_top" id="prevBtn">
    <svg width="40" height="40">
      <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
    </svg>
    <span class="slide__control_arrow slide__control_up"></span>
  </div>
  {% for book in page.books %}
    {% if book.current %}
	    <li class="slide__control current"></li>
    {% else %}
	    <li class="slide__control"></li>
    {% endif %}
  {% endfor %}
  <div class="slide__control__icon slide__control_bottom" id="nextBtn">
    <svg width="40" height="40">
      <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
    </svg>
    <span class="slide__control_arrow slide__control_down"></span>
  </div>
</ul>
