<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.fancybox.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/imagesloaded.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/masonry.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/modernizr.custom.js" | relative_url }}"></script>
<script src="{{ "/assets/js/AnimOnScroll.js" | relative_url }}"></script>
<script src="{{ "/assets/js/gallery.js" | relative_url }}"></script>
<script src="{{ "/assets/js/sidebar.js" | relative_url }}"></script>
