<head>
	<meta charset="utf-8">
  <link rel="stylesheet" href="{{ "/assets/css/jquery.fancybox.min.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
  {% if page.code %}
  <link rel="stylesheet" href="{{ "/assets/css/prism.css" | relative_url }}" />
  {% endif %}
  {% if page.latex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.css" integrity="sha384-JwmmMju6Z7M9jiY4RXeJLoNb3aown2QCC/cI7JPgmOLsn3n33pdwAj0Ml/CMMd1W" crossorigin="anonymous">
  {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}">
  <title>{{ site.title }}</title>
</head>
