<a href="{{ "/" | relative_url }}">
  {% include icons/logo.html %}
</a>

<div class="sidebar__toggler" data-toggle="0" id="sidebarToggler">
  <span class="sidebar__toggler_top"></span>
  <span class="sidebar__toggler_middle"></span>
  <span class="sidebar__toggler_bottom"></span>
</div>

<div class="icon__list">
  <a href="https://github.com/{{ site.github_username }}" class="icon__link" target="_blank">
    {% include icons/github.html %}
  </a>
  <a href="mailto:{{ site.email }}" class="icon__link" target="_blank">
    {% include icons/mail.html %}
  </a>
</div>
