.archive {
  width: 100%;
  height: 100%;
  @include flex();
  overflow: hidden;
}
.archive__header {
  width: 35%;
  height: 100%;
  border-right: 1px solid var(--lighter);
  text-align: center;
  justify-content: center;
  @include flex();
  @include flex-middle();
  @include flex-column();
  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    a:hover {
      text-decoration: underline;
    }
  }
}
.archive__content {
  width: 65%;
  height: 100%;
  overflow-y: auto;
  @include flex();
  @include flex-middle();
  padding: 1.5rem 0;
}
.archive__list {
  width: 100%;
}
.archive__item {
  list-style: none;
  padding: 0 5.35rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: 100%;
  height: 3rem;
  &:hover {
    border-color: var(--lighter);
  }
}
.archive__link {
  color: var(--dark);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 3rem;
}
.archive__time {
  display: inline-block;
  width: 135px;
  font-size: 0.9rem;
  color: var(--gray);
}
.icon__list {
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.icon__link svg {
  margin: 0 5px;
  width: 18px;
  height: 18px;
}
.icon__fill {
  fill: var(--gray);
}
.icon__stroke {
  stroke: var(--gray);
}
.icon__list a:hover .icon__fill {
  fill: var(--dark);
}
.icon__list a:hover .icon__stroke {
  stroke: var(--dark);
}
@media screen and (max-width: 800px) {
  .archive {
    @include flex-column();
    min-height: 100%;
    height: auto;
  }
  .archive__header, .archive__content {
    width: 100%;
    height: auto;
  }
  .archive__header {
    padding: 4rem 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .archive__item {
    padding: 0 2rem;
  }
}
