.book {
  width: 100%;
  height: 100vh;
  @include flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.book__cover {
  height: 100vh;
  width: 40%;
  overflow: hidden;
}
.book__img {
  height: 100vh;
  width: auto;
}
.book__content {
  @include flex;
  @include flex-column;
  justify-content: flex-end;
  padding: 5rem 10%;
  width: 60%;
}
.book__title {
  margin-bottom: 2rem;
  color: var(--dark);
  font-size: 2.85rem;
}
.book__desc {
  color: var(--dark-light);
  line-height: 2rem;
}
.book__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin: 1.5rem 0;
}
.book__icon .circle-progress {
  stroke-dasharray: 0 226;
}
.book__icon:hover .circle-progress {
  stroke-dasharray: 226 226;
}
.book__icon_arrow {
  position: absolute;
  width: 60%;
  height: 2px;
  top: calc(50% - 1px);
  left: 20%;
  background-color: var(--gray-light);
  transition: all 0.25s ease-in;
  &:before, &:after {
    @include pseudo();
    width: 50%;
    height: 2px;
    background-color: var(--gray-light);
    right: 0;
    top: 0;
  }
  &:before {
    transform-origin: bottom right;
    transform: rotate(45deg);
  }
  &:after {
    transform-origin: top right;
    transform: rotate(-45deg);
  }
}
