* {
	border: 0;
	padding: 0;
	margin: 0;
  outline: none;
	box-sizing: border-box;
}
@font-face{font-family:'OpenSans';src:url('fonts/OpenSans-Regular.ttf') format('truetype');font-weight:normal;font-style:normal}
body, html {
  font-family: "OpenSans", "Microsoft YaHei", "微软雅黑", "宋体", STXihei, "华文细黑", Arial, Verdana, arial, serif;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
  color: var(--dark);
  font-size: 17px;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 2.36rem;
}

h2 {
  font-size: 1.77rem;
}

h3 {
  font-size: 1.33rem;
}
a {
  text-decoration: none!important;
  color: var(--dark);
}
a:hover, a:visited, a:linked, a:active {
  text-decoration: none!important;
  color: var(--dark);
}

.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 15;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.loading__icon {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 30px;
  border: 2px solid var(--gray-light);
}
.loading__icon:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: 30px;
  border: 2px solid transparent;
  border-top-color: var(--gray);
  animation: spin 1s linear infinite;
}
