* {
	border: 0;
	padding: 0;
	margin: 0;
  outline: none;
	box-sizing: border-box;
}
@font-face{font-family:'OpenSans';src:url('fonts/OpenSans-Regular.ttf') format('truetype');font-weight:normal;font-style:normal}
body, html {
  font-family: "OpenSans", "Microsoft YaHei", "微软雅黑", "宋体", STXihei, "华文细黑", Arial, Verdana, arial, serif;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
  color: var(--dark);
  font-size: 17px;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 2.36rem;
}

h2 {
  font-size: 1.77rem;
}

h3 {
  font-size: 1.33rem;
}
a {
  text-decoration: none!important;
  color: var(--dark);
}
a:hover, a:visited, a:linked, a:active {
  text-decoration: none!important;
  color: var(--dark);
}
