.gallery {
  width: 100%;
  text-align: center;
  overflow-y: auto;
  min-height: 100vh;
  z-index: 1;
}
.gallery__list {
  max-width: 830px;
  margin: 3rem auto;
  width: 100%;
  padding: 0;
  .gallery__item {
    list-style: none;
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    .gallery__link {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      .gallery__image {
        width: 100%;
        vertical-align: bottom;
        @include transition(all 0.35s linear);
      }
    }
    &:hover {
      .gallery__image {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    padding: 1.5rem 1rem;
  }
}
@media screen and ( max-width: 650px ) {
  .gallery__list .gallery__item {
    width: 50%;
  }
}
