.chapter__content {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: var(--dark);
  line-height: 1.7;
  @include text_size_adjust(100%);
  /* Printing */
  /* Typography */
  /* Spacing */
  /* Links */
  /* Images */
  /* Horizontal lines */
  /* Headings */
  /* Code blocks */
  /* Tables */
  /* Lists */
  /* Blockquote */
  /* Description Lists */
}
.chapter__content * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}
.chapter__content > *:first-child {
  margin-top: 0 !important;
}
.chapter__content > *:last-child {
  margin-bottom: 0 !important;
}
.chapter__content pre,
.chapter__content code,
.chapter__content blockquote,
.chapter__content tr,
.chapter__content img,
.chapter__content table,
.chapter__content figure {
  page-break-inside: avoid;
}
.chapter__content p,
.chapter__content h2,
.chapter__content h3,
.chapter__content h4,
.chapter__content h5 {
  orphans: 3;
  widows: 3;
}
.chapter__content h1,
.chapter__content h2,
.chapter__content h3,
.chapter__content h4,
.chapter__content h5 {
  page-break-after: avoid;
}
.chapter__content strong,
.chapter__content b {
  font-weight: bold;
}
.chapter__content em {
  font-style: italic;
}
.chapter__content p,
.chapter__content blockquote,
.chapter__content ul,
.chapter__content ol,
.chapter__content dl,
.chapter__content table {
  margin-top: 0;
  margin-bottom: 0.85em;
}
.chapter__content a {
  color: var(--blue);
  text-decoration: none;
  background: transparent;
}
.chapter__content a:hover,
.chapter__content a:focus,
.chapter__content a:active {
  outline: 0;
  text-decoration: underline;
}
.chapter__content img {
  border: 0;
  max-width: 100%;
}
.chapter__content hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none;
}
.chapter__content hr:before,
.chapter__content hr:after {
  display: table;
  content: " ";
}
.chapter__content hr:after {
  clear: both;
}
.chapter__content h1,
.chapter__content h2,
.chapter__content h3,
.chapter__content h4,
.chapter__content h5,
.chapter__content h6 {
  margin-top: 1.275em;
  margin-bottom: 0.85em;
  font-weight: bold;
}
.chapter__content h1 {
  font-size: 2.3em;
  font-weight: 500;
  margin-bottom: 1em;
}
.chapter__content h2 {
  font-size: 1.75em;
}
.chapter__content h3 {
  font-size: 1.5em;
}
.chapter__content h4 {
  font-size: 1.25em;
}
.chapter__content h5 {
  font-size: 1em;
}
.chapter__content h6 {
  font-size: 1em;
  color: #777;
}
.chapter__content code,
.chapter__content pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  margin: 0px;
  padding: 0px;
  border: none;
  color: inherit;
}
.chapter__content pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0px;
  padding: 0.85em 1em;
  margin-bottom: 1.275em;
  background: var(--lightest);
}
.chapter__content pre > code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: 0.85em;
  white-space: pre;
  background: transparent;
}
.chapter__content pre > code:before,
.chapter__content pre > code:after {
  content: normal;
}
.chapter__content code {
  padding: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: var(--lighter);
  border-radius: 3px;
}
.chapter__content code:before,
.chapter__content code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.chapter__content table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}
.chapter__content table td,
.chapter__content table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.chapter__content table tr {
  background-color: #fff;
  border-top: 1px solid var(--gray-light);
}
.chapter__content table tr:nth-child(2n) {
  background-color: var(--light);
}
.chapter__content table th {
  font-weight: bold;
}
.chapter__content ul,
.chapter__content ol {
  padding: 0;
  margin: 0;
  margin-bottom: 0.85em;
  padding-left: 2em;
}
.chapter__content ul ol,
.chapter__content ol ol,
.chapter__content ul ul,
.chapter__content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.chapter__content ol ol {
  list-style-type: lower-roman;
}
.chapter__content blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: var(--gray);
  border-left: 4px solid var(--light);
}
.chapter__content blockquote:first-child {
  margin-top: 0;
}
.chapter__content blockquote:last-child {
  margin-bottom: 0;
}
.chapter__content dl {
  padding: 0;
}
.chapter__content dl dt {
  padding: 0;
  margin-top: 0.85em;
  font-style: italic;
  font-weight: bold;
}
.chapter__content dl dd {
  padding: 0 0.85em;
  margin-bottom: 0.85em;
}
.chapter__content dd {
  margin-left: 0;
}
