.markdown-section {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: var(--dark);
  line-height: 1.7;
  @include text_size_adjust(100%);
  /* Printing */
  /* Typography */
  /* Spacing */
  /* Links */
  /* Images */
  /* Horizontal lines */
  /* Headings */
  /* Code blocks */
  /* Tables */
  /* Lists */
  /* Blockquote */
  /* Description Lists */
}
.markdown-section * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}
.markdown-section > *:first-child {
  margin-top: 0 !important;
}
.markdown-section > *:last-child {
  margin-bottom: 0 !important;
}
.markdown-section pre,
.markdown-section code,
.markdown-section blockquote,
.markdown-section tr,
.markdown-section img,
.markdown-section table,
.markdown-section figure {
  page-break-inside: avoid;
}
.markdown-section p,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  orphans: 3;
  widows: 3;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  page-break-after: avoid;
}
.markdown-section strong,
.markdown-section b {
  font-weight: bold;
}
.markdown-section em {
  font-style: italic;
}
.markdown-section p,
.markdown-section blockquote,
.markdown-section ul,
.markdown-section ol,
.markdown-section dl,
.markdown-section table {
  margin-top: 0;
  margin-bottom: 0.85em;
}
.markdown-section a {
  color: var(--blue);
  text-decoration: none;
  background: transparent;
}
.markdown-section a:hover,
.markdown-section a:focus,
.markdown-section a:active {
  outline: 0;
  text-decoration: underline;
}
.markdown-section img {
  border: 0;
  max-width: 100%;
}
.markdown-section hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none;
}
.markdown-section hr:before,
.markdown-section hr:after {
  display: table;
  content: " ";
}
.markdown-section hr:after {
  clear: both;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-top: 1.275em;
  margin-bottom: 0.85em;
  font-weight: bold;
}
.markdown-section h1 {
  font-size: 2.3em;
  font-weight: 500;
  margin-bottom: 1em;
}
.markdown-section h2 {
  font-size: 1.75em;
}
.markdown-section h3 {
  font-size: 1.5em;
}
.markdown-section h4 {
  font-size: 1.25em;
}
.markdown-section h5 {
  font-size: 1em;
}
.markdown-section h6 {
  font-size: 1em;
  color: #777;
}
.markdown-section code,
.markdown-section pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  margin: 0px;
  padding: 0px;
  border: none;
  color: inherit;
}
.markdown-section pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0px;
  padding: 0.85em 1em;
  margin-bottom: 1.275em;
  background: var(--lightest);
}
.markdown-section pre > code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: 0.85em;
  white-space: pre;
  background: transparent;
}
.markdown-section pre > code:before,
.markdown-section pre > code:after {
  content: normal;
}
.markdown-section code {
  padding: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: var(--lighter);
  border-radius: 3px;
}
.markdown-section code:before,
.markdown-section code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown-section table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}
.markdown-section table td,
.markdown-section table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.markdown-section table tr {
  background-color: #fff;
  border-top: 1px solid var(--gray-light);
}
.markdown-section table tr:nth-child(2n) {
  background-color: var(--light);
}
.markdown-section table th {
  font-weight: bold;
}
.markdown-section ul,
.markdown-section ol {
  padding: 0;
  margin: 0;
  margin-bottom: 0.85em;
  padding-left: 2em;
}
.markdown-section ul ol,
.markdown-section ol ol,
.markdown-section ul ul,
.markdown-section ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-section ol ol {
  list-style-type: lower-roman;
}
.markdown-section blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: var(--gray);
  border-left: 4px solid var(--light);
}
.markdown-section blockquote:first-child {
  margin-top: 0;
}
.markdown-section blockquote:last-child {
  margin-bottom: 0;
}
.markdown-section dl {
  padding: 0;
}
.markdown-section dl dt {
  padding: 0;
  margin-top: 0.85em;
  font-style: italic;
  font-weight: bold;
}
.markdown-section dl dd {
  padding: 0 0.85em;
  margin-bottom: 0.85em;
}
.markdown-section dd {
  margin-left: 0;
}
.markdown-section .glossary-term {
  cursor: help;
  text-decoration: underline;
}
