.post-wrapper {
  max-width: $max-content-width;
  width: 100%;
  margin: 3rem auto;
  padding: 0 1rem;
}

.archive-path {
  .archive-path-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    float: left;
    margin-right: 10px;
    position: relative;
    .circle-progress {
      stroke: $gray-600;
      fill: none;
      stroke-width: 1;
      stroke-dasharray: 0 120;
      transition: all 0.45s ease-in;
    }
    .archive-path-arrow {
      position: absolute; 
      width: 60%;
      left: 20%;
      top: 50%;
      height: 1px;
      background-color: $gray-600;
      transition: all 0.25s ease-in;
      &:after, &:before {
        @include pseudo();
        height: 1px;
        width: 50%;
        background-color: $gray-600; 
        top: 0;
        left: 0;
      }
      &:before {
        transform-origin: left bottom;
        transform: rotate(-45deg);
      }
      &:after {
        transform-origin: left top;
        transform: rotate(45deg);
      }
      &.emit {
        left: -110%;
      }
    }
  }
  a {
    display: block;
    font-size: 1.35rem;
    line-height: 40px;
    text-transform: capitalize;
    &:hover {
      .circle-progress {
        stroke-dasharray: 120 120;
      }    
    }
    &.emit {
      .archive-path-arrow {
        left: -150%;
        opacity: 0;
      }
    }
  }
}

.post-header {
  h1 {
    margin-bottom: 1.33rem;
  }
  .post-meta {
    color: $gray-600;
  }
}

.post-content {
  margin: 3rem 0;
  p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  a {
    color: $gray-700;
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  code {
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: $gray-100;
    color: $gray-700;
  }
  pre {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $gray-100;
    border-radius: 3px;
    code {
      background: none;
    }
  }
  blockquote {
    padding: 0 1rem 0 1rem;
    border-left: 3px solid $gray-300;
    color: $gray-700;
    margin: 0 0 1rem 0;
  }
  img + em {
    text-align: center;
    color: $gray-600;
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    font-weight: normal;
  }
} 
