* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.35s ease-in-out;
}
:root {
  --dark: #343a40;
  --gray: #6c757d;
  --gray-light: #ced4da;
  --bg-color: white;
  --white: #fff;
}
h1, h2, h3 {
  font-weight: normal;
}
body, html {
  font-family: "Microsoft YaHei", "微软雅黑", "宋体", STXihei, "华文细黑", Arial, Verdana, arial, serif;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
  overflow: hidden;  
  color: var(--dark);
}
a, a:hover, a:visited, a:linked {
  text-decoration: none;
}

/*loading*/
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 15;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.loading__icon {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 30px;
  border: 2px solid var(--gray-light);
}
.loading__icon:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: 30px;
  border: 2px solid transparent;
  border-top-color: var(--gray);
  animation: spin 1s linear infinite;
}

/*sidebar*/
.logo {
  position: fixed;
  left: 3rem;
  top: 2rem;
  z-index: 10;
  fill: var(--gray);
}
.sidebar__toggler {
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  margin-top: -20px;
  z-index: 10;
}
.sidebar__toggler.active, .logo.active {
  left: 50%;
  margin-left: -20px;
}
.sidebar__toggler span {
  display: inline-block;
  position: absolute; 
  background-color: var(--gray);
  height: 2px;
  left: 5%;
  transition: all 0.25s linear;
}
.sidebar__toggler_top {
  width: 40%;
  top: 7.5px;  
}
.sidebar__toggler_middle {
  width: 70%;
  top: 19px;  
}
.sidebar__toggler_bottom {
  width: 90%;
  bottom: 7.5px;  
}
.sidebar__toggler:hover .sidebar__toggler_top {
  width: 90%;
}
.sidebar__toggler:hover .sidebar__toggler_bottom {
  width: 40%;
}
.sidebar__toggler.active .sidebar__toggler_top {
  transform-origin: 5% 5%;
  width: 90%;
  transform: rotate(45deg);
}
.sidebar__toggler.active .sidebar__toggler_middle {
  opacity: 0;
}
.sidebar__toggler.active .sidebar__toggler_bottom {
  width: 90%;
  transform-origin: 5% 95%;
  transform: rotate(-45deg);
}

/*sidebar*/
.sidebar {
  width: 0;
  transform: translateX(-100%);
  opacity: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
}
.sidebar.active {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}
.sidebar__title {
  margin-bottom: 1.5rem;
}
.sidebar__copyright {
  color: var(--gray);
  font-size: 14px;
  text-align: center;
}

/*Archive*/
.archive {
  margin-bottom: 2rem;
}
.archive__item {
  list-style: circle;
}
.archive__link {
  color: var(--dark);
  margin-right: 1rem;
  line-height: 2.5rem;
}
.archive__time {
  font-size: 0.9rem;
  color: var(--gray);
}

/*SECTION SLIDE*/
.slide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slide__section {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
}
.slide__section:first-child {
  z-index: 5;
  opacity: 1;
}
.slide__img {
  height: 85%;
  position: relative;
  overflow: hidden;
}
.slide__img_placehold {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: url('images/leaf.jpg') center center no-repeat;
	background-size: 100% 100%;
  translateY: -100%;
  opacity: 0;
}
.slide__img .slide__link:hover ~ .slide__img_placehold {
  transform: scale(1.1);
}
.slide__img img {
  height: 100%;
  width: auto;
  opacity: 0;
}
.slide__text {
  z-index: 5;
  position: relative;
  height: 120px;
  width: 275px;
  margin-top: -10%;
}
.slide__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}
.slide__text_left {
  margin-right: -10%;
  text-align: right;
}
.slide__text_right {
  margin-left: -10%;
  text-align: left;
}
.slide__title {
  width: 275px;
  position: relative;
  background-color: transparent;
  height: 65px;
}
.slide__time {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: transparent;
  height: 35px;
  width: 120px;
  position: relative;
}
.slide__title_inner, .slide__time_inner {
  background-color: var(--dark);
  opacity: 0;
  width: 0;
  height: 100%;
}
.slide__title_text, .slide__time_text {
  color: var(--white);
  opacity: 0;
}
.slide__title_text {
  padding: 0 20px;
  line-height: 65px;
}
.slide__text_left .slide__title_text {
  translateX: -275px;
}
.slide__text_right .slide__title_text {
  translateX: 275px;
}
.slide__time_text {
  padding: 0 15px;
  line-height: 35px;
  text-align: center;
}
.slide__text_left .slide__time_text {
  translateX: -110px;
}
.slide__text_right .slide__time_text {
  translateX: 110px;
}
.slide_title:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 65px;
  background-color: var(--bg-color);
  top: 0;
}
.slide__text_left .slide__title:before {
  left: 10px;
}
.slide__text_right .slide__title:before {
  right: 10px;
}
.slide__desc {
  position: absolute;
  width: 80%;
  top: 100%;
  color: var(--gray);
  opacity: 0;
  transform: tranlateY(-100px);
}
.slide__text_left .slide__desc {
  right: 60%;
}
.slide__text_right .slide__desc {
  left: 60%;
}

.slide__controls {
  position: fixed;
  right: 40px;
  top: 0;
  height: 100%;
  display: flex;
  width: 30px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  z-index: 7;

}
.slide__control {
  width: 65%;
  height: 3px;
  background-color: var(--gray-light);
  display: inline-block;
  margin: 10px 0;
}
.slide__control.current {
  background-color: var(--dark);
  width: 30px;
}
.slide__control__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  position: relative;
  margin-right: -10px;
  cursor: pointer;
}
.slide__control__icon.slide__control_top {
  margin-bottom: 3rem;
}
.slide__control__icon.slide__control_bottom {
  margin-top: 3rem;
}
.circle-progress {
  stroke: var(--gray-light);
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 0 120;
  transition: all 0.45s ease-in;
}
.slide__control__icon:hover .circle-progress {
  stroke-dasharray: 120 120;
}
.slide__control_arrow {
  position: absolute; 
  height: 60%;
  height: 60%;
  width: 2px;
  left: calc(50% - 1px);
  top: 20%;
  background-color: var(--gray-light);
  transition: all 0.25s ease-in;
}
.slide__control_arrow:after, .slide__control_arrow:before {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: var(--gray-light); 
}
.slide__control_up:after, .slide__control_up:before {
  top: 0;
  left: 0;
}
.slide__control_down:after, .slide__control_down:before {
  bottom: 0;
  left: 0;
}
.slide__control_up:before {
  transform-origin: top right;
  transform: rotate(-45deg);
}
.slide__control_up:after {
  transform-origin: left top;
  transform: rotate(45deg);
}
.slide__control_down:before {
  transform-origin: bottom right;
  transform: rotate(-45deg);
}
.slide__control_down:after {
  transform-origin: left bottom;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .logo, .logo.active {
    left: 1.5rem;
    top: 1rem;
    margin: 0;
  }
  .sidebar__toggler, .sidebar__toggler.active {
    bottom: auto;
    top: 1rem;
    right: 1rem;
    margin: -10px 0 0 0;
    left: auto;
  }
  .slide__controls, .slide__desc {
    display: none;
  }
  .slide__img {
    width: calc(100% - 3rem);
    height: auto;
  }
  .slide__img img {
    width: 100%;
    height: auto;
  }
  .slide__text {
    position: absolute;
    margin-top: 0;
  }
}
