---
layout: default
---

{% include header.html %}

<main class="post__archive">
  <div class="post__top_navs clearfix">
    <nav class="post__langs">
      {% if page.locale == 'zh' %}
      <a href="/blog/en/">English</a>
      {% else %}
      <a href="/blog/">中文</a>
      {% endif %}
    </nav>
  </div>
  {% assign posts=paginator.posts %}
  {% for post in posts %}
    <article class="post__entry">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="post__entry__link">
        <h2>{{ post.title }}</h2>
        <div class="post__meta">
          <time>{{ post.date | date: "%Y-%m-%d" }}</time>
        </div>
        <div class="post__excerpt">
          {{ post.excerpt }}
        </div>
        <div class="post__more_arrow"></div>
      </a>
    </article>
  {% endfor %}

  {% include pagination.html %}

</main>
