---
layout: default
---

{% include header.html %}

{% include archive.html %}

<main class="post__archive">
  <div class="post__archive__header">
    <h1>{{ page.title }}</h1>
    <p>{{ page.desc }}</p>
  </div>

  {% for post in paginator.posts %}
    <article class="post__entry">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="post-link">
        <h2>{{ post.title }}</h2>
        <div class="post__meta">
          <time>{{ post.date | date_to_string }}</time>
        </div>
        <div class="post__except">
          <p>{{ post.excerpt }}</p>
        </div>
        <div class="post__more_arrow"></div>
      </a>
    </article>
  {% endfor %}

</main>
