---
layout: default
---

<div class="book sidebar-right">
  {% include header.html %}
  <div class="book__cover">
    <img src="/assets/images/{{ page.slug }}.jpg" class="book__img" alt="{{ page.title }}"/>
  </div>
  <div class="book__content">
    <h1 class="book__title">{{ page.title }}</h1>
    <div class="book__meta">
      {% assign count = 0 %}
      {% for part in page.parts %}
          {% assign single_count = part.content | strip_html | strip_newlines | remove: " " | size %}
          {% for sub_part in part.parts %}
            {% assign sub_count = sub_part.content | strip_html | strip_newlines | remove: " " | size %}
            {% assign count = count | plus: sub_count %}
          {% endfor %}
          {% assign count = count | plus: single_count %}
      {% endfor %}
      总字数：{{ count }}
    </div>
    <div class="book__desc">
      {{ content }}
    </div>
    {% if page.next and page.next.path %}
      <a href="/{{ page.next.link }}" class="book__more">
        <div class="book__icon">
          <svg width="80" height="80">
            <circle class="circle-progress" r="36" cy="40" cx="40"  stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="book__icon_arrow"></span>
        </div>
      </a>
    {% endif %}
  </div>
</div>
