<html>
  {% include book/head.html %}
  <body>
    <div class="book" id="bookMain">
      {% include book/summary.html %}
      <div class="book-body" id="book_body">
        <div class="body-inner">
          {% include book/header.html %}
          <div class="page-wrapper" tabindex="-1" role="main">
              <div class="page-inner">
                <section class="normal markdown-section">
                  {{ content }}
                </section>
              </div>
          </div>
        </div>
        {% if page.prev and page.prev.path %}
          <a href="/{{ page.prev.link }}" class="navigation navigation-prev" aria-label="Previous page: {{ page.prev.title }}">
            {% include icons/left.html %}
          </a>
        {% endif %}
        {% if page.next and page.next.path %}
          <a href="/{{ page.next.link }}" class="navigation navigation-next" aria-label="Next page: {{ page.next.title }}">
            {% include icons/right.html %}
          </a>
        {% endif %}
      </div>
    </div>
    {% include archive.html %}
  </body>
</html>
