<html>
  {% include book/head.html %}
  <title>{{ page.title }} - {{ page.book.title }} | {{ site.title }}</title>

  {% if page.code %}
  <link rel="stylesheet" href="{{ "/assets/css/tomorrow.css" | relative_url }}" />
  <script src="{{ "/assets/js/highlight.js" | relative_url }}"></script>
  {% endif %}

  {% if page.latex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.css" integrity="sha384-JwmmMju6Z7M9jiY4RXeJLoNb3aown2QCC/cI7JPgmOLsn3n33pdwAj0Ml/CMMd1W" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" defer></script>
  {% endif %}

  {% if page.mermaid %}
  <script src="{{ "/assets/js/chart.js" | relative_url }}" defer></script>
  {% endif %}

</head>
  <body>
    <div class="book__wrapper sidebar-right" id="bookMain">
      {% include book/summary.html %}
      <div class="book__body">
        <div class="body__inner">
          {% include book/header.html %}
          <main class="chapter__wrapper" tabindex="-1" role="main">
              <div class="chapter__inner">
                <article class="chapter__content content">
                  {{ content }}
                </article>
              </div>
          </main>
        </div>
        {% if page.prev and page.prev.path %}
          <a href="/{{ page.prev.link }}" class="navigation navigation-prev" aria-label="Previous page: {{ page.prev.title }}">
            {% include icons/left.html %}
          </a>
        {% endif %}
        {% if page.next and page.next.path %}
          <a href="/{{ page.next.link }}" class="navigation navigation-next" aria-label="Next page: {{ page.next.title }}">
            {% include icons/right.html %}
          </a>
        {% endif %}
      </div>
      {% include archive.html %}
    </div>
    {% if page.code %}
      <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}
  </body>
</html>
