---
layout: default
---

{% include header.html %}

{% include archive.html %}

<main class="post__wrapper">

  <div class="post__top_navs">
    <nav class="post__archive_path">
      {% if page.lang == "zh" %}
      <a href="/blog" id="archiveBtn">
      {% else %}
      <a href="/blog/en" id="archiveBtn">
      {% endif %}
        <div class="post__archive_icon">
          <svg width="40" height="40">
            <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" >
            </cricle>
          </svg>
          <span class="post__archive_icon"></span>
        </div>
        Blog
      </a>
    </nav>

    <nav class="post__langs">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %}
        {% if post.lang != page.lang %}
          <a href="{{ post.url }}" class="{{ post.lang }}"> {{ post.lang }}</a>
        {% endif %}
      {% endfor %}
      </a>
    </nav>
  </div>

  <article class="post">

    <header class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__meta">
        <time>{{ page.date | date_to_string }}</time>
      </div>
    </header>

    <div class="post__content content">
      {{ content }}
    </div>

    {% include new_comment.html %}
    {% include comments.html %}
  </article>

</main>

<script src="{{ "/assets/js/post.js" | relative_url }}"></script>
{% if page.code %}
  <script>hljs.initHighlightingOnLoad();</script>
{% endif %}
