---
layout: default
---

{% include header.html %}

{% include archive.html %}

<main class="post__wrapper">

  <nav class="post__archive_path">
    <a href="/{{ page.categories }}" id="archiveBtn">
      <div class="post__archive_icon">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" >
          </cricle>
        </svg>
        <span class="post__archive_icon"></span>
      </div>
      {{ page.categories }}
    </a>
  </nav>

  <article class="post">

    <header class="post__header">
      <h1>{{ page.title | escape }}</h1>
      <div class="post__meta">
        <time>{{ page.date | date_to_string }}</time>
      </div>
    </header>

    <div class="post__content">

      {{ content }}

    </div>

  </article>

</main>
