---
layout: default
---

{% include header.html %}

<main class="post__wrapper">

    <nav class="post__langs">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'locale' %}
    {% for post in posts %}
      {% if post.locale != page.locale %}
      <a href="{{ post.url }}" class="{{ post.locale}}"> {{ post.locale }}</a>
      {% endif %}
    {% endfor %}
    </nav>

  <article class="post">

    <header class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__meta">
        <time>{{ page.date | date: "%Y-%m-%d %H:%M" }}</time>
      </div>
    </header>

    <div class="post__content content">
      {{ content | toc | extlinks | katex }}
    </div>
  </article>

  {% include contact.html %}

  <nav class="post__archive_path">
    <a href="{{ site.locales[page.locale].index }}" id="archiveBtn">
      <div class="post__archive_icon">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
        </svg>
        <span class="post__archive_icon"></span>
      </div>
      {{ site.locales[page.locale].blog_title }}
    </a>
  </nav>

</main>

{% if page.code %}
  <script>hljs.initHighlightingOnLoad();</script>
{% endif %}
